#collapseTwo{
    /* random transition to test timing */
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
}

#headingTwo{
    /* random transition to test timing */
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
}

.accordionExample{
    border:none !important;
}

.card-header{
    border: none !important;
    background: white !important;
    font-size: 25px;
    font-weight: bold;
}

#headingTwo{
    border-top: none !important;
}

.card{
    border: none !important;
}

.card-body{
    background: pink;
    border: none;
}

.accordion #accordionExample #headingTwo .collapse{
    border: none;
    background: white;
    
}

.card-header #headingTwo{
    border: none;
}

