#collapseTwo{
    /* random transition to test timing */
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#headingTwo{
    /* random transition to test timing */
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.accordionExample{
    border:none !important;
}

.card-header{
    border: none !important;
    background: white;
    font-size: 25px;
    font-weight: bold;
}

#headingTwo{
    border-top: none !important;
}

.card{
    border: none !important;
}

.card-body{
    background:pink !important;
}

.accordion #accordionExample #headingTwo{
    border: none;
    background: white;
}

