.dialog{
    opacity: 0;
    position: absolute;
    background: rgb(0,0,0,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.dialogFadeIn {
    opacity: 1;
    transition: opacity .4s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: auto;
}

.dialogFadeOut {
    opacity: 0;
    transition: opacity .4s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 3;
}

#dialogImg {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#closeChanges {
    z-index: 4;
    position: fixed;
    top: 25%;
    left: 75%;
    color: white !important;
    opacity: 1;
    text-shadow: none;
    /* bring your own prefixes */
    transform: translate(-25%, -50%);
    cursor: pointer !important;
    height: 50px;
    width: 50px;
}

#closeChanges:hover{
    cursor: pointer !important;
}