/* --------------menu components --------------  */
.openMenu, .closeMenu {
  height: 50px;
  width: 25%;
  font-size: 30px;
  border: none;
  margin-top: 5%;
  visibility: visible;
  font-weight: bold;
}

.openMenu:hover, .closeMenu:hover {
  color: #0073d1;
  
}

.hideX{
  visibility: hidden;
}


#button1 {
  border-radius: 25px;
  background: #d8dde6;
  width: 175px;
  height: 25px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
}


.menu-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  opacity: 0;
  z-index: -1;
}

.menuContent {
  margin-left: -30%;
  width: 30%;
  height: 100%;
  background-color: white;
}

ul > li{
  list-style: none;
  margin: 30px 0px 10px 30px;
  font-weight: bold;
  font-size: 25px;
}

ul > li > a:hover{
  text-decoration: none;
}

.menu-wrapper-enter {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  z-index: auto;
}

.menu-wrapper-exit {
  opacity: 0;
  transition: opacity 0.5s ease-in .25s;
}

.menuContent-show {
  margin-left: 0;
  transition: margin-left 0.5s ease-in 0.25s;
}

.menuContent-exit {
  margin-left: -30%;
  transition: margin-left .5s ease-in;
}