.carousel-inner > .carousel-item {
    position: relative;
    transition: .6s cubic-bezier(0.39, 0.575, 0.565, 1) .1s;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1) .1s;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(30%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-30%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}