@font-face {
  font-family: rutledge-reuglar;
  src: url(rutledge-regular.woff);
}

.helpful{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.friendly{

}

.professional{
  
}

body{
  font-family: rutledge-reuglar !important;
  font-size: 20px !important;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#link{
  text-decoration: none;
}

#pushbox {
  margin-top: 150px;
}

#pushbox2 {
  margin-bottom: 50px;
}

a, a:link, a:visited {
    color:black;
}

a:hover {
    color: #0073d1;
}

/* --------------intro --------------  */
#fakelogo {
  border-radius: 25px;
  background: #004366;
  width:300px;
  height:45px;
  margin-bottom: 80px;
}

/* --------------menu components --------------  */

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: orange; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: all 1s ease-in-out;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* --------------line 1---------------  */

#button1 {
  border-radius: 25px;
  background: #d8dde6;
  width: 175px;
  height: 25px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

#underline_perm {
  border-radius: 25px;
  background:#0073d1;
  width: 175px;
  height: 5px;
  margin: auto;
}

#underline {
  border-radius: 25px;
  background: white;
  width: 175px;
  height: 5px;
  margin: auto;

  /*helpful*/
  transition: .2s cubic-bezier(.14,.9,.84,1);
}

#button1:hover + #underline{
  background: #0073d1;
  opacity: 1;
  margin: auto;
}

/* --------------line 2---------------  */
#button2 {
  border-radius: 10px;
  background: #63738a;
  margin-top:30px;
  width: 150px;
  height: 50px; 
  transition: .25s cubic-bezier(.14,.9,.84,1); 
}

#button2:hover {
  background: 	#9BA9BD;
  cursor: pointer;
}

#button3 {
  border-radius: 10px;
  background: #0073d1;
  margin: auto;
  margin-top:30px;
  width: 150px;
  height: 50px;
  transition: .25s cubic-bezier(.14,.9,.84,1);
  cursor: pointer;
}

#button3:hover {
  background: #0063B2;
  cursor: pointer;
}