@font-face {
  font-family: rutledge-reuglar;
  src: url(rutledge-regular.woff);
}

body{
  font-family: rutledge-reuglar !important;
  font-size: 20px !important;
}

a:hover{
  
}

#pushbox {
  margin-top: 150px;
}

#pushbox2 {
  margin-bottom: 50px;
}

/* --------------intro --------------  */

#menu {
  border-radius: 2px;
  height: 44px;
  width: 108px;
  background-image: url("menu.png");
}

#fakelogo {
  border-radius: 25px;
  background: #004366;
  width:300px;
  height:45px;
  margin-bottom: 80px;
}

/* --------------line 1---------------  */

#button1 {
  border-radius: 25px;
  background: #d8dde6;
  width: 175px;
  height: 25px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

#underline_perm {
  border-radius: 25px;
  background:#0073d1;
  width: 175px;
  height: 5px;
  margin: auto;
}

#underline {
  border-radius: 25px;
  background: white;
  width: 175px;
  height: 5px;
  margin: auto;

  /*helpful*/
  transition: .2s cubic-bezier(.14,.9,.84,1);
}


#button1:hover + #underline{
  background: #0073d1;
  opacity: 1;
  margin: auto;

}

/* --------------line 2---------------  */
#button2 {
  border-radius: 10px;
  background: #63738a;
  margin-top:30px;
  width: 150px;
  height: 50px;

  
}

#button2:hover {
  background: orange;
}

#button3 {
  border-radius: 10px;
  background: #0073d1;
  margin: auto;
  margin-top:30px;
  width: 150px;
  height: 50px;
  transition: .25s cubic-bezier(.14,.9,.84,1);
}

#button3:hover {
  background: #0063B2;
}