/* ---------------------------------------------------------------
  VOICE + TONE GUIDELINES
  instant - 0 - concise
  short - .2s - helpful - cubic-bezier(.14,.9,.84,1);
  medium - .4s - approachable - cubic-bezier(0.77, 0, 0.175, 1);
  long - .75s - prof - cubic-bezier(0.39, 0.575, 0.565, 1);
---------------------------------------------------------------*/

@font-face {
  font-family: rutledge-regular;
  src: url(fonts/rutledge-regular.woff);
}

@font-face {
  font-family: rutledge-regular;
  src: url(fonts/rutledge-bold.woff);
  font-weight: bold;
}

body{
  font-family: rutledge-regular !important;
  font-size: 20px !important;
}

.contain{
  position: relative;
}

#link{
  text-decoration: none;
}

#pushbox {
  margin-top: 150px;
}

#pushbox2 {
  margin-bottom: 50px;
}

a, a:link, a:visited {
    color:black;
}

a:hover {
    color: #0073d1;
}

/* --------------intro --------------  */
#fakelogo {
  border-radius: 25px;
  background: #004366;
  width:300px;
  height:45px;
  margin-bottom: 80px;
}

#menu {
  height: 60px;
  width: 118px;
  background-image: url("images/menu.png");
  transition: .25s cubic-bezier(.14,.9,.84,1);
}

#menu:hover{
  background-image: url("images/menu2.png");
  cursor: pointer;
}

/* --------------line 1---------------  */
#button1 {
  border-radius: 25px;
  background: #d8dde6;
  width: 175px;
  height: 25px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

#underline_perm {
  border-radius: 25px;
  background:#0073d1;
  width: 175px;
  height: 5px;
  margin: auto;
}

#underline {
  border-radius: 25px;
  background: white;
  width: 175px;
  height: 5px;
  margin: auto;

  /*helpful*/
  transition: .2s cubic-bezier(.14,.9,.84,1);
}

#button1:hover + #underline{
  background: #0073d1;
  opacity: 1;
  margin: auto;
}

/* --------------line 2---------------  */
#button2 {
  border-radius: 10px;
  background: #63738a;
  margin-top:30px;
  width: 150px;
  height: 50px; 
  transition: .25s cubic-bezier(.14,.9,.84,1); 
}

#button2:hover {
  background: 	#9BA9BD;
}

#button3 {
  border-radius: 10px;
  background: #0073d1;
  margin: auto;
  margin-top:30px;
  width: 150px;
  height: 50px;
  transition: .25s cubic-bezier(.14,.9,.84,1);
  cursor: pointer;
}

#button3:hover {
  background: #0063B2;
  cursor: pointer;
}

