body{
  font-family: rutledge-regular !important;
}

#pushbox {
  margin-top: 150px;
}

/* --------------intro --------------  */

#menu {
  border-radius: 2px;
  height: 44px;
  width: 108px;
  background-image: url("menu.png");
}

#fakelogo {
  border-radius: 25px;
  background: #004366;
  width:300px;
  height:30px;
  margin-bottom: 40px;
}

/* --------------line 1---------------  */

#button1 {
  border-radius: 25px;
  background: #d8dde6;
  width: 175px;
  height: 25px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

#underline_perm {
  border-radius: 25px;
  background:#0073d1;
  width: 175px;
  height: 5px;
  margin: auto;
}

#underline {
  border-radius: 25px;
  background: white;
  width: 175px;
  height: 5px;
  margin: auto;
  /*helpful*/
  transition: .5s cubic-bezier(.14,.9,.84,1);
  -webkit-transition: .5s cubic-bezier(.14,.9,.84,1);
}


#button1:hover + #underline{
  background: #0073d1;
  opacity: 1;
  margin: auto;
  transition: .5s cubic-bezier(.14,.9,.84,1);
  -webkit-transition: .5s cubic-bezier(.14,.9,.84,1);

}

/* --------------line 2---------------  */
#button2 {
  border-radius: 10px;
  background: #63738a;
  margin-top:30px;
  width: 150px;
  height: 50px;
}

#button3 {
  border-radius: 10px;
  background: #0073d1;
  margin-top:30px;
  width: 150px;
  height: 50px;
}