.open, .close {
  height: 50px;
  width: 300px;
  font-size: 1.25rem;
}

.menu-wrapper {
  background-color: rgba(255, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  opacity: 0;
  z-index: -1;
}

.menu {
  margin-left: -30%;
  width: 30%;
  height: 100%;
  background-color: #0f0;
}

.menu-wrapper-enter {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  z-index: auto;
}

.menu-wrapper-exit {
  opacity: 0;
  transition: opacity 0.5s ease-in .25s;
}

.menu-show {
  margin-left: 0;
  transition: margin-left 0.5s ease-in 0.25s;
}

.menu-exit {
  margin-left: -30%;
  transition: margin-left .5s ease-in;
}